.form-inline {
  margin: auto;
}
.ag-theme-balham {
  margin: auto;
  margin-top: 3vh;
}
.pages {
  display: flex;
  justify-content: center;
  background-color: rgb(236, 236, 236);
  height: 2.1rem;
  margin: 0;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
