body {
  background-color: azure;
}
/* .bg {
  background-image: url("../images/backgroundimg.jpg");
  height: 100vh;
  width: 100vw;
  filter: blur(10px);
  -webkit-filter: blur(150px);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
} */
.bg-text {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(113, 186, 235, 0.4); /* Black w/opacity/see-through */
  color: rgba(0, 135, 238, 0.822);
  font-weight: 500;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: left;
}
.Dcentered {
  top: 32%;
}
.txt {
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 2rem;
}
#opt1 {
  cursor: pointer;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(113, 186, 235, 0.4); /* Black w/opacity/see-through */
  color: rgba(0, 135, 238, 0.822);
  font-weight: 500;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 20%;
  padding: 20px;
  text-align: center;
}
#opt2 {
  cursor: pointer;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(113, 186, 235, 0.4); /* Black w/opacity/see-through */
  color: rgba(0, 135, 238, 0.822);
  font-weight: 500;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 45%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 20%;
  padding: 20px;
  text-align: center;
}
#opt3 {
  cursor: pointer;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(113, 186, 235, 0.4); /* Black w/opacity/see-through */
  color: rgba(0, 135, 238, 0.822);
  font-weight: 500;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 65%;
  left: 35%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 20%;
  padding: 20px;
  text-align: center;
}
#opt4 {
  cursor: pointer;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(113, 186, 235, 0.4); /* Black w/opacity/see-through */
  color: rgba(0, 135, 238, 0.822);
  font-weight: 500;
  border: 3px solid #f1f1f1;
  position: absolute;
  top: 65%;
  left: 65%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 20%;
  padding: 20px;
  text-align: center;
}
#opt1:hover,
#opt2:hover,
#opt3:hover,
#opt4:hover {
  background-color: blue;
  color: white;
}
#hiddenId {
  display: none;
}
/* button {
  font-size: 2rem !important;
} */
