* {
  box-sizing: border-box;
}
.nav-item {
  padding: 5px;
}
.nav-item:hover{
  cursor: pointer;
}
a:hover{
  text-decoration: none!important;
}
.catActive{
  color: rgb(0, 0, 82);
  font-weight: bolder;
}
.quesActive{
  color: rgb(0, 0, 82);
  font-weight: bolder;
}
.subCatActive{
  color: rgb(0, 0, 82);
  font-weight: bolder;
}
.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
