/* .bg{
    background-image: url("./public/images/backgroundimg.jpg");
    height: 100vh;
    width: 100vw;
    filter: blur(10px);
    -webkit-filter: blur(150px);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
} */

@media(max-width: 990px){
    .navbar-collapse button{
        text-align: center;
        margin: auto;
        margin: 1rem auto;
        width: 20rem;
    }
    .mr-auto{
        margin: auto;
    }
}

@media(max-width: 576px){
    .navbar-collapse button{
        text-align: center;
        margin: auto;
        margin: 1rem auto;
        width: 15rem;
    }
    .mr-auto{
        margin: auto;
    }
}